
body {
  font-family: 'PT Sans', sans-serif;
}

.bg {
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  min-height: 100vh;
  max-height: 100%;
}

body {
  background-color: white;
}

/* :hover {
  background-color: blanchedalmond;
} */



/* 
https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/
*/
.galleryImage:hover
{
        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        cursor: pointer;
} 